/** _movie-listings.scss */
/** 
 * Main movie listings styles
 */

#movie_listings {
	#movie_list {
		// visibility: hidden;
		overflow: hidden;
	}
	
	.movie_listing {
		margin: 0 0 2rem;
		padding: 0 0 1.6rem;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: $secondary_color_bg;

		&:last-of-type {
			margin: 0;
			padding: 0;
			border-bottom-width: 0;
		}
	}

	.movie_title {
		font-family: 'Mada';
		font-size: 3.5rem;
		font-weight: 700;
		line-height: 1;
	}

	.movie_details {
		font-family: 'Mada';
		font-size: 2.5rem;
	}

	.movie_rating_stars {
		color: rgb(245, 208, 0);
	}

	.movie_rating_stars_filler {
		// color: rgb(216, 216, 216);
		color: rgb(228, 228, 228)
	}

	/** Older large mobile device in landscape, e.g., iPhone 6 Plus */
	@media only screen 
	and (device-width : 414px) 
	and (device-height : 736px) 
	and (orientation : landscape) {
		.movie_title {
			font-size: 3rem;
		}

		.movie_details {
			font-size: 2rem;
		}
	}

	/** Newer mobile device in landscape, e.g., iPhone Xs */
	@media only screen 
	and (device-width : 414px) 
	and (device-height : 896px) 
	and (-webkit-device-pixel-ratio : 3) 
	and (orientation : landscape) {
		.movie_title {
			font-size: 3rem;
		}

		.movie_details {
			font-size: 2rem;
		}
	}

	@media (min-width: 1000px) {
		.movie_listing {
			margin: 0 0 1.2rem;
			padding: 0 0 1.2rem;
			border-bottom-width: 1px;
		}

		.movie_title {
			font-size: 1.4rem;
		}

		.movie_details {
			font-size: 1rem;
		}
	}

	@media (min-width: 1400px) {
		/** Grid/Panel layout */
	}
}
