/** _movie-admin.scss */
/** 
 * Movie item administration styles
 */

#movie_admin {
	.form-field-container {
		label {
			display: inline-block;
		}
		small {
			display: inline-block;
			margin-left: 4px;
		}
	}
	
	.movie_rating_stars {
		margin-bottom: 0;
	}

	#movie_admin_list {
		padding-bottom: 158px;
	}

	.movie_listing {
		margin: 0 0 1.6rem;
		padding: 0 0 1rem;
		border-bottom-width: 4px;
		border-bottom-style: solid;
		border-bottom-color: $secondary_color_bg;

		&:last-of-type {
			margin: 0;
			padding: 0;
			border-bottom-width: 0;
		}
	}
	
	.movie_format .custom-select {
		display: block;
	}

	.movie_rating_stars {
		display: inline-block;
		padding: 0 6px 3px;
		border: 1px solid rgb(206, 212, 218);
		border-radius: 4px;
		line-height: normal;

		.movie_rating_star {
			display: inline-block;
			padding: 0 3px;

			cursor: pointer;
		}
	
		.movie_rating_star_selected, 
		.movie_rating_star:hover {
			color: rgb(245, 208, 0);
		}
	
		.movie_rating_star_unselected {
			color: rgb(216, 216, 216);
		}
	
		.movie_rating_hover_prevSib {
			color: rgb(245, 208, 0);
		}
	
		.movie_rating_hover_nextSib {
			color: rgb(216, 216, 216);
		}
	}

	#movie_admin_list_actions {
		visibility: hidden;
		position: fixed;
		bottom: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 24px 5vw;
		width: 100%;
		background: whitesmoke;
		box-shadow: 0 -2px 3px silver;
	}

	#movie_admin_list_actions_msgs {
		padding-left: 16px;
	}

	@media (min-width: 1000px) {
		.movie_rating {
			display: flex;
			flex-direction: column;
		}

		.movie_rating_stars {
			display: inline-table; // Inelegant but effective stand-in for width: max-content (poor support)
			margin-bottom: 0;
		}

		#movie_admin_list {
			padding-bottom: 58px;
		}

		.movie_listing {
			padding: 0 0 0.2rem;
			border-bottom-width: 1px;
		}

		.movie_title input {
			width: 424px;
		}

		.movie_year input,
		.movie_length input {
			width: 90px;
		}

		.movie_rating_stars {
			font-size: 1.6rem;
		}

		.movie_format select {
			width: 130px;
		}

		#movie_admin_list_actions {
			padding: 8px 20px;
			width: 960px;
		}

		#movie_admin_list_actions_msgs {
			padding-left: 8px;
			
			small, .small {
				font-size: 0.85rem;
			}
		}
	}
}
