/** _html.scss */
/** 
 * Base HTML styles
 */

body {
	visibility: hidden;
	display: grid;
	grid-template-rows: auto auto;
	margin: 0;
	padding: 0;
	color: $font_color;
	font-family: 'Mada';
	font-size: 2.2rem;
	font-weight: 400;
}

header {
	a {
		display: inline-block;
		color: inherit;
		text-decoration: none;

		&:hover {
			background-color: transparent;
			color: inherit;
			text-decoration: none;
		}
	}
}

footer {
	position: fixed;
	bottom: 48px;
	width: 100%;
	font-size: 1.8rem;
	
	a {
		position: absolute;
		color: whitesmoke;
		text-decoration: none;
	}
}

nav {
	a {
		// background-color: $primary_color;
		// color: white;
		// text-decoration: none;

		&:hover {
			// background-color: $primary_color_subdued;
		}
	}
}

aside {
	padding: 16px 0 8px;

	header {
		background: $primary_color_bg;
		margin-bottom: 8px;
	}
}

h1 {
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	font-family: 'Bowlby One SC';
	font-size: 8rem;
}

h2 {
	margin: 0 0 1.8rem;
	padding: 0 0 0.4rem;
	color: $secondary_color;
	font-size: 5rem;
	font-family: 'Mada';
	font-weight: 300;
}

h3 {
	color: $primary_color;
}

dl, ol, ul {
	display: inline-block;
	margin-bottom: 8px;
    width: 100%;
}

dt, dd {
	float: left;
	margin: 0 0 4px;
	padding: 2px 4px;
}

dt {
	clear: left;
	margin-right: 4px;
	color: $neutral_font_color;
	text-align: right;
}

dd {
	color: $secondary_color;
}

button {
	border-radius: $border-radius;
}

a {
	color: $secondary_color;
	text-decoration: underline;

	&:hover {
		background-color: $secondary_color_bg;
		color: $secondary_color_intense;
	}
}

label,
input:not([type='checkbox']):not([type='radio']),
select, textarea {
	font-size: 2.8rem;
}

label {
	display: block;
	margin-bottom: 0.2rem;

	small, .small {
		font-size: 2.4rem;
	}
}

input[type=checkbox], input[type=radio] {
	width: 32px;
    height: 32px;
}

::placeholder {
	color: $secondary_color_bg;
	opacity: 0.8;
}
::-webkit-input-placeholder {
	color: $secondary_color_bg;
}
:-ms-input-placeholder {
	color: $secondary_color_bg;
}
::-ms-input-placeholder {
	color: $secondary_color_bg;
}

input, select, textarea {
	margin-bottom: 0;
}

input {
	border-radius: $border-radius;

	/* &:[type='checkbox'] {

	} */

	&:invalid {
		border-color: red !important;
	}

	&::placeholder {
		color: $secondary_color_bg;
		opacity: 0.8;
	}
	&::-webkit-input-placeholder {
		color: $secondary_color_bg;
	}
	&:-ms-input-placeholder {
		color: $secondary_color_bg;
	}
	&::-ms-input-placeholder {
		color: $secondary_color_bg;
	}
}

@media (min-width: 1000px) {
	body {
		grid-template-columns: auto 100px 860px auto;
		font-size: 0.9rem;
	}

	header {

	}

	footer {
		bottom: 18px;
		font-size: 0.8rem;
	}
	
	nav {
		
	}

	h1 {
		font-size: 6rem;
	}

	h2 {
		font-size: 3rem;
	}

	label,
	input:not([type='checkbox']):not([type='radio']),
	select, textarea {
		font-size: 1.1rem;
	}

	input, select, textarea {
		margin-bottom: 0;
	}

	input[type=checkbox], input[type=radio] {
		width: 18px;
		height: 18px;
	}
}

@media (min-width: 1400px) {
	/** Grid/Panel layout */
}
