/** _html.scss */
/** 
 * Base HTML styles
 */

body {
	visibility: hidden;
	display: flex;
    flex-direction: column;
    align-items: center;
	margin: 0;
	padding: 0;
	color: $font_color;
	font-family: 'Mada';
	font-size: 2.2rem;
	font-weight: 400;
}

main {
	margin: auto;
	width: 100%;
}

header {
	a {
		display: inline-block;
		color: inherit;
		text-decoration: none;

		&:hover {
			background-color: transparent;
			color: inherit;
			text-decoration: none;
		}
	}
}

footer {
	position: fixed;
	bottom: 48px;
	width: 100%;
	font-size: 1.8rem;
	
	a {
		position: absolute;
		color: whitesmoke;
		text-decoration: none;
	}
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px 5vw;

	header {
		width: 100%;
	}
}

aside {
	padding: 16px 0 8px;

	header {
		background: $primary_color_bg;
		margin-bottom: 8px;
	}
}

h1 {
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	font-family: 'Bowlby One SC';
	font-size: 8rem;
}

h2 {
	margin: 0 0 1.8rem;
	padding: 0 0 0.4rem;
	color: $secondary_color;
	font-size: 5rem;
	font-family: 'Mada';
	font-weight: 300;
}

h3 {
	color: $primary_color;
}

dl, ol, ul {
	display: inline-block;
	margin-bottom: 8px;
    width: 100%;
}

dt, dd {
	float: left;
	margin: 0 0 4px;
	padding: 2px 4px;
}

dt {
	clear: left;
	margin-right: 4px;
	color: $neutral_font_color;
	text-align: right;
}

dd {
	color: $secondary_color;
}

label {
	margin-bottom: 0.2rem;
}

input {
	border-radius: $border-radius;
}

button {
	border-radius: $border-radius;
}

a {
	color: $secondary_color;
	text-decoration: underline;

	&:hover {
		background-color: $secondary_color_bg;
		color: $secondary_color_intense;
	}
}

@media (min-width: 1000px) {
	body {
		font-size: 0.9rem;
	}

	h1 {
		font-size: 6rem;
	}

	h2 {
		font-size: 3rem;
	}

	footer {
		bottom: 18px;
		font-size: 0.8rem;
	}

	main {
		padding: 16px 20px;
		width: 960px;
	}
}

@media (min-width: 1400px) {
	/** Grid/Panel layout */
}
