/** _site.scss */
/** 
 * Sitewide styles
 */

#site_header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: $primary_color;

	h1 {
		display: inline-flex;
	}
}

.main_content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-field-container {
	margin-bottom: 2rem;
}

.validHelp {
	ul {
		list-style: none;

		li {
			&:before {
				// content: '\24E7';
				content: 'x';
			}

			&.valid {
				&:before {
					content: '\2714';
				}
			}
		}
	}
}

#index-link {
	left: 6px;
}

#admin_access {
	right: 6px;
}

.msg-primary {
	color: $msg_primary_color;
}

.msg-secondary {
	color: $msg_secondary_color;
}

.msg-success,
small.valid,
.small.valid {
	color: $msg_success_color;
}

.msg-danger,
small.invalid,
.small.invalid {
	color: $msg_danger_color;
}

small.invalid,
.small.invalid {
	font-weight: 700;
}

.msg-warning {
	color: $msg_warning_color;
}

.msg-info {
	color: $msg_info_color;
}

.msg-light {
	color: $msg_light_color;
}

.msg-dark {
	color: $msg_dark_color;
}

#movie_list_status {
	align-self: center;
	position: absolute;

	.spinner {
		vertical-align: text-top;
		margin-right: 8px;
	}

	.spinner-border {
		width: 1.6rem;
		height: 1.6rem;
		border-width: 0.15em;
	}

	#movie_list_status_msg {
		font-size: 2.8rem;
	}
}

/** .form-control:focus overrides Bootstrap */
input:not([type='checkbox']):not([type='radio']).valChg,
input:not([type='checkbox']):not([type='radio']).valChg.form-control:focus
textarea.valChg,
textarea.valChg.form-control:focus,
select.valChg,
.valChg-colorsOnly {
	border-color: rgb(255, 165, 0) !important;
	background-color: $primary_color_bg !important;
}

.is-new {
	input:not([type='checkbox']):not([type='radio']).valChg,
	input:not([type='checkbox']):not([type='radio']).valChg.form-control:focus
	textarea.valChg,
	textarea.valChg.form-control:focus,
	select.valChg,
	.valChg-colorsOnly {
		border-color: rgb(34, 145, 8) !important;
		background-color: rgb(230, 255, 224) !important;
	}
}

input:invalid,
input:not([type='checkbox']):not([type='radio']).valChg:invalid {
	border-color: rgb(196, 39, 8) !important;
	background-color: rgb(255, 233, 224) !important;
}

@media (min-width: 1000px) {
	.form-field-container {
		margin-bottom: 1rem;
	}

	.validHelp {
		width: 65%;
		
		ul {
			padding-left: 0;

			li {
				&:before {
					padding-right: 4px;
				}
			}
		}
	}

	#movie_list_status {
		.spinner {
			vertical-align: middle;
		}

		.spinner-border {
			width: 1.6rem;
			height: 1.6rem;
			border-width: 0.25em;
		}

		#movie_list_status_msg {
			font-size: 1.1rem;
		}
	}
}
