/** _site.scss */
/** 
 * Sitewide styles
 */

#site_header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: $primary_color;

	h1 {
		display: inline-flex;
	}
}

.main_content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#admin_access {
	position: fixed;
	right: 6px;
	bottom: 2px;
	font-size: 1.8rem;

	a {
		color: whitesmoke;
		text-decoration: none;
	}
}

.msg-primary {
	color: $msg_primary_color;
}

.msg-secondary {
	color: $msg_secondary_color;
}

.msg-success {
	color: $msg_success_color;
}

.msg-danger {
	color: $msg_danger_color;
}

.msg-warning {
	color: $msg_warning_color;
}

.msg-info {
	color: $msg_info_color;
}

.msg-light {
	color: $msg_light_color;
}

.msg-dark {
	color: $msg_dark_color;
}

#movie_list_status {
	position: absolute;
	/*padding: 8px 16px;
	background-color: rgba(100, 100, 100, 0.3);
	text-align: center;*/

	.spinner {
		margin-right: 8px;
	}

	#movie_list_status_msg {
		font-size: 2.8rem;
	}
}

/** .form-control:focus overrides Bootstrap */
input:not([type='checkbox']):not([type='radio']).valChg,
input:not([type='checkbox']):not([type='radio']).valChg.form-control:focus
textarea.valChg,
textarea.valChg.form-control:focus,
select.valChg,
.valChg-colorsOnly {
	border-color: rgb(255, 165, 0) !important;
	background-color: $primary_color_bg !important;
}

@media (min-width: 1000px) {
	#movie_list_status {
		.spinner {
			vertical-align: middle;
		}

		#movie_list_status_msg {
			font-size: 1.1rem;
		}
	}

	#admin_access {
		font-size: 0.8rem;
	}
}
