/** _variables.scss */
/** 
 * Variable definitions
 */

$primary_color: rgb(247, 101, 59);
$primary_color_subdued: rgb(241, 144, 116);
$primary_color_intense: rgb(225, 74, 31);
$primary_color_bg: rgb(236, 246, 230);

$secondary_color: rgb(67, 43, 213);
$secondary_color_bg: rgb(196, 193, 214);

$highlight_color: rgb(102, 204, 255);
$highlight_color_intense: rgb(65, 142, 223);
$highlight_color_darker: rgb(73, 134, 189);
$highlight_color_bg: rgb(224, 245, 255);

$font_color: rgb(50, 50, 50);
$neutral_font_color: rgb(152, 162, 152);

$frosted_glass_bg: rgba(255, 255, 255, 0.7);

$border-radius: .2rem;
