/** _variables.scss */
/** 
 * Variable definitions
 */

$primary_color: rgb(247, 101, 59);
$primary_color_intense: rgb(225, 74, 31);
$primary_color_subdued: rgb(241, 144, 116);
$primary_color_light: rgb(255, 165, 0);
// $primary_color_bg: rgb(250, 220, 211);
$primary_color_bg: rgb(255, 230, 211);
$primary_color_bg_light: rgb(255, 244, 224);

$secondary_color: rgb(67, 43, 213);
$secondary_color_intense: rgb(26, 12, 110);
// $secondary_color_bg: rgb(196, 193, 214);
$secondary_color_bg: rgb(209, 205, 228);

$highlight_color: rgb(102, 204, 255);
$highlight_color_intense: rgb(65, 142, 223);
$highlight_color_darker: rgb(73, 134, 189);
$highlight_color_bg: rgb(224, 245, 255);

$font_color: rgb(50, 50, 50);
$neutral_font_color: rgb(152, 162, 152);

$frosted_glass_bg: rgba(255, 255, 255, 0.7);

$critical: rgb(196, 39, 8);
$critical_bg: rgb(255, 233, 224);

/** Matched to Bootstrap alerts */
$msg_primary_color: rgb(0, 64, 133);
$msg_secondary_color: rgb(56, 61, 65);
// $msg_success_color: rgb(21, 87, 36);
$msg_success_color: rgb(19, 144, 48);
// $msg_danger_color: rgb(114, 28, 36);
$msg_danger_color: rgb(191, 34, 49);
$msg_warning_color: rgb(133, 100, 4);
$msg_info_color: rgb(12, 84, 96);
$msg_light_color: rgb(129, 129, 130);
$msg_dark_color: rgb(27, 30, 33);

$border-radius: .2rem;
